
.gauge {
    height: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 7px;

    .likes {
        height: inherit;
        background-color: green;
    }

    .dislikes {
        height: inherit;
        background-color: red;
    }
}